.Selector {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  padding: 2rem;
  max-width: 100%;
}

.Selector-Letter {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.Selector-Code {
  background: #efefef;
  display: block;
  font-family: 'Courier Prime', monospace;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 5rem;
  text-align: left;
  white-space: pre;
  max-width: 100%;
}
